<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlgorithmService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53688/AlgorithmService/AlgorithmService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlgorithmService"
                contract="Algorithm.IAlgorithmService" name="BasicHttpBinding_IAlgorithmService" />
        </client>
    </system.serviceModel>
</configuration>